<a href="https://colab.research.google.com/github/tj-ie/data_analytics/blob/main/get_years.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from datetime import datetime

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/sample_duration.csv')

In [ ]:
df

       start        end
0  2017/1/29  2019/9/10
1  2012/1/30  2015/9/11
2  2019/1/31        NaN
3   2016/2/1  2017/9/13
4   2017/2/2  2019/9/14
5   2017/2/3        NaN
6   2020/2/4  2020/9/16

In [ ]:
df.isnull().any(axis=0)

start    False
end       True
dtype: bool

In [ ]:
# 欠損値の補完
# df_end_is_null = df['end'].isnull()
# for end_date in list(df.loc[df_end_is_null, "end"]):
#   date = df.loc[(df_end_is_null) & (df['end'] == end_date)]
  # df['end'] = datetime.now().strftime("%Y/%m/%d")

In [ ]:
# 欠損値の補完
# 対象列置換df.replace({'age': {24: 100}})
today = datetime.today().strftime("%Y/%m/%d")
# df.replace({'end': {'NaN': now}})

# fillna
df = df.fillna(today)
df

       start         end
0  2017/1/29   2019/9/10
1  2012/1/30   2015/9/11
2  2019/1/31  2021/05/09
3   2016/2/1   2017/9/13
4   2017/2/2   2019/9/14
5   2017/2/3  2021/05/09
6   2020/2/4   2020/9/16

In [ ]:
# 型変換
df[['start', 'end']] = df[['start', 'end']].astype(str)

oldest_start_date = min(df['start'])
oldest_start_date

'2012/1/30'

In [ ]:
latest_end_date = max(df['end'])
latest_end_date

'2021/05/09'

In [ ]:
oldest_year = int(oldest_start_date[:4])
oldest_year

latest_year = int(latest_end_date[:4])
latest_year

l_duration = []
l_duration.append(oldest_year)

while oldest_year < latest_year:
  oldest_year += 1
  l_duration.append(oldest_year)
  
l_duration

[2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [ ]:
df[l_duration] = 0
df

       start         end  2012  2013  2014  ...  2017  2018  2019  2020  2021
0  2017/1/29   2019/9/10     0     0     0  ...     0     0     0     0     0
1  2012/1/30   2015/9/11     0     0     0  ...     0     0     0     0     0
2  2019/1/31  2021/05/09     0     0     0  ...     0     0     0     0     0
3   2016/2/1   2017/9/13     0     0     0  ...     0     0     0     0     0
4   2017/2/2   2019/9/14     0     0     0  ...     0     0     0     0     0
5   2017/2/3  2021/05/09     0     0     0  ...     0     0     0     0     0
6   2020/2/4   2020/9/16     0     0     0  ...     0     0     0     0     0

[7 rows x 12 columns]

In [ ]:
# Ensure Types are Correct
df['start'] = pd.to_datetime(df['start'])
df['end'] = pd.to_datetime(df['end'])

# Grab Year Columns
year_columns = df.columns[2:]
# Get Year Columns as numpy array as numbers
c = year_columns.to_numpy().astype(int)
# Broadcast start year vs column column (as int) and end year vs year column (as int)
m = ((df['start'].dt.year.to_numpy()[:, None] <= c) &
     (c <= df['end'].dt.year.to_numpy()[:, None]))
# Update year_columns where mask is True
df[year_columns] = df[year_columns].mask(m, 1)
print(df.to_string())

       start        end  2012  2013  2014  2015  2016  2017  2018  2019  2020  2021
0 2017-01-29 2019-09-10     0     0     0     0     0     1     1     1     0     0
1 2012-01-30 2015-09-11     1     1     1     1     0     0     0     0     0     0
2 2019-01-31 2021-05-09     0     0     0     0     0     0     0     1     1     1
3 2016-02-01 2017-09-13     0     0     0     0     1     1     0     0     0     0
4 2017-02-02 2019-09-14     0     0     0     0     0     1     1     1     0     0
5 2017-02-03 2021-05-09     0     0     0     0     0     1     1     1     1     1
6 2020-02-04 2020-09-16     0     0     0     0     0     0     0     0     1     0

In [ ]:
# Ensure Types are Correct
df['start'] = pd.to_datetime(df['start'])
df['end'] = pd.to_datetime(df['end'])

for index, row in df.iterrows():
    # Get years from timestamps
    s_year = row['start'].year
    e_year = row['end'].year

    l_years = []
    l_years.append(s_year)

    while s_year < e_year:
        s_year += 1
        l_years.append(s_year)

    for c_year in l_years:
        # Iterate Over Date Columns Only (Exclude Start and End)
        for col_idx, column_name in enumerate(df.columns[2:].values.astype(int)):
            if c_year == column_name:
                # Replace at index, col_idx + 2 because 'start' and 'end'
                # were excluded so col_idx is off by 2
                df.iloc[index, col_idx + 2] = 1
    
print(df.to_string())

       start        end  2012  2013  2014  2015  2016  2017  2018  2019  2020  2021
0 2017-01-29 2019-09-10     0     0     0     0     0     1     1     1     0     0
1 2012-01-30 2015-09-11     1     1     1     1     0     0     0     0     0     0
2 2019-01-31 2021-05-09     0     0     0     0     0     0     0     1     1     1
3 2016-02-01 2017-09-13     0     0     0     0     1     1     0     0     0     0
4 2017-02-02 2019-09-14     0     0     0     0     0     1     1     1     0     0
5 2017-02-03 2021-05-09     0     0     0     0     0     1     1     1     1     1
6 2020-02-04 2020-09-16     0     0     0     0     0     0     0     0     1     0

In [ ]:
import numpy as

# Ensure Types are Correct
df['start'] = pd.to_datetime(df['start'])
df['end'] = pd.to_datetime(df['end'])

for index, row in df.iterrows():
    # Get years from timestamps
    s_year = row['start'].year
    e_year = row['end'].year
    # Create Range of years as strings
    l_years = list(map(str, np.arange(s_year, e_year + 1)))
    # Update based on index and year column names
    df.loc[index, l_years] = 1

print(df.to_string())

       start        end  2012  2013  2014  2015  2016  2017  2018  2019  2020  2021  2017  2018  2019  2012  2013  2014  2015  2020  2021  2016
0 2017-01-29 2019-09-10     0     0     0     0     0     1     1     1     0     0   1.0   1.0   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1 2012-01-30 2015-09-11     1     1     1     1     0     0     0     0     0     0   NaN   NaN   NaN   1.0   1.0   1.0   1.0   NaN   NaN   NaN
2 2019-01-31 2021-05-09     0     0     0     0     0     0     0     1     1     1   NaN   NaN   1.0   NaN   NaN   NaN   NaN   1.0   1.0   NaN
3 2016-02-01 2017-09-13     0     0     0     0     1     1     0     0     0     0   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   1.0
4 2017-02-02 2019-09-14     0     0     0     0     0     1     1     1     0     0   1.0   1.0   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5 2017-02-03 2021-05-09     0     0     0     0     0     1     1     1     1     1   1.0   1.0   1.0   NaN   NaN   NaN   NaN   1.0   1.0   NaN
6 2020-02-04 2020-09-16     0     0     0     0     0     0     0     0     1     0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   1.0   NaN   NaN

In [ ]:
df['start'] = pd.to_datetime(df['start'])
df['end'] = pd.to_datetime(df['end'])

def change(x):
    k = range(x['start'].year,x['end'].year+1)
    for col in x.index[2:]:
        if int(col) in k:
            x[col] = 1
    return x
    
df = df.apply(change,1)

print(df.to_string())

       start        end  2012  2013  2014  2015  2016  2017  2018  2019  2020  2021  2017  2018  2019  2012  2013  2014  2015  2020  2021  2016
0 2017-01-29 2019-09-10     0     0     0     0     0     1     1     1     0     0   1.0   1.0   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1 2012-01-30 2015-09-11     1     1     1     1     0     0     0     0     0     0   NaN   NaN   NaN   1.0   1.0   1.0   1.0   NaN   NaN   NaN
2 2019-01-31 2021-05-09     0     0     0     0     0     0     0     1     1     1   NaN   NaN   1.0   NaN   NaN   NaN   NaN   1.0   1.0   NaN
3 2016-02-01 2017-09-13     0     0     0     0     1     1     0     0     0     0   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   1.0
4 2017-02-02 2019-09-14     0     0     0     0     0     1     1     1     0     0   1.0   1.0   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5 2017-02-03 2021-05-09     0     0     0     0     0     1     1     1     1     1   1.0   1.0   1.0   NaN   NaN   NaN   NaN   1.0   1.0   NaN
6 2020-02-04 2020-09-16     0     0     0     0     0     0     0     0     1     0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   1.0   NaN   NaN

In [ ]:
df.to_excel('/content/drive/MyDrive/Colab Notebooks/data/sample_duration_data.xlsx', sheet_name='sample_duration', index=False)