<a href="https://colab.research.google.com/github/tj-ie/data_analytics/blob/main/school_statics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install lifelines
!pip install japanize-matplotlib

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import japanize_matplotlib
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.mixture import BayesianGaussianMixture
from lifelines import CoxPHFitter
from lifelines import KaplanMeierFitter

%matplotlib inline

Requirement already satisfied: lifelines in /usr/local/lib/python3.7/dist-packages (0.25.11)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from lifelines) (1.1.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from lifelines) (1.19.5)
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from lifelines) (1.4.1)
Requirement already satisfied: autograd>=1.3 in /usr/local/lib/python3.7/dist-packages (from lifelines) (1.3)
Requirement already satisfied: autograd-gamma>=0.3 in /usr/local/lib/python3.7/dist-packages (from lifelines) (0.5.0)
Requirement already satisfied: formulaic<0.3,>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from lifelines) (0.2.3)
Requirement already satisfied: matplotlib>=3.0 in /usr/local/lib/python3.7/dist-packages (from lifelines) (3.2.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->lifelines) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->lifelines) (2.8.1)
Requirement already satisfied: future>=0.15.2 in /usr/local/lib/python3.7/dist-packages (from autograd>=1.3->lifelines) (0.16.0)
Requirement already satisfied: astor in /usr/local/lib/python3.7/dist-packages (from formulaic<0.3,>=0.2.2->lifelines) (0.8.1)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from formulaic<0.3,>=0.2.2->lifelines) (1.12.1)
Requirement already satisfied: interface-meta>=1.2 in /usr/local/lib/python3.7/dist-packages (from formulaic<0.3,>=0.2.2->lifelines) (1.2.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines) (0.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.0->lifelines) (1.15.0)
Requirement already satisfied: japanize-matplotlib in /usr/local/lib/python3.7/dist-packages (1.1.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from japanize-matplotlib) (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (1.3.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (1.19.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib->japanize-matplotlib) (1.15.0)

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/data/sample_data.xlsx')
df

       start        end  sex  age  ...  payment              address  lat  lng
0 2017-01-29 2019-09-10    0   10  ...    80000     徳島県阿南市長生町西方５８９−１  NaN  NaN
1 2012-01-30 2015-09-11    1   14  ...   400000    徳島県阿南市下大野町渡り上り５４４  NaN  NaN
2 2019-01-31 2021-05-10    1   13  ...   480000     徳島県阿南市羽ノ浦町岩脇町筋８７  NaN  NaN
3 2016-02-01 2017-09-13    0   14  ...   240000  徳島県阿南市羽ノ浦町中庄大久保３３−３  NaN  NaN
4 2017-02-02 2019-09-14    1   17  ...   160000  徳島県阿南市那賀川町今津浦白石１２−５  NaN  NaN
5 2017-02-03 2021-05-10    1   15  ...   280000      徳島県阿南市那賀川町色ケ島民養  NaN  NaN
6 2020-02-04 2020-09-16    0   11  ...   260000  徳島県阿南市那賀川町今津浦喜来６５−１  NaN  NaN
7 2020-02-04 2020-09-16    0   30  ...   140000  徳島県阿南市那賀川町今津浦喜来sadf  NaN  NaN

[8 rows x 11 columns]

In [ ]:
df.isnull().sum()

start       0
end         0
sex         0
age         0
siblings    0
distance    0
duration    0
payment     0
address     0
lat         8
lng         8
dtype: int64

In [ ]:
for _ in range(2):
  df = df.drop(df['age'].idxmax())
  df = df.reset_index()

In [ ]:
df

   level_0  index      start        end  ...  payment              address  lat  lng
0        0      0 2017-01-29 2019-09-10  ...    80000     徳島県阿南市長生町西方５８９−１  NaN  NaN
1        1      1 2012-01-30 2015-09-11  ...   400000    徳島県阿南市下大野町渡り上り５４４  NaN  NaN
2        2      2 2019-01-31 2021-05-10  ...   480000     徳島県阿南市羽ノ浦町岩脇町筋８７  NaN  NaN
3        3      3 2016-02-01 2017-09-13  ...   240000  徳島県阿南市羽ノ浦町中庄大久保３３−３  NaN  NaN
4        5      5 2017-02-03 2021-05-10  ...   280000      徳島県阿南市那賀川町色ケ島民養  NaN  NaN
5        6      6 2020-02-04 2020-09-16  ...   260000  徳島県阿南市那賀川町今津浦喜来６５−１  NaN  NaN

[6 rows x 13 columns]

In [ ]:
import requests
import time
from bs4 import BeautifulSoup
from tqdm import tqdm

In [ ]:
url = 'http://www.geocoding.jp/api/'

for i, row in df.iterrows():
  payload = {'q': row['address']}
  html = requests.get(url, params=payload)
  soup = BeautifulSoup(html.content, 'html.parser')
  if soup.find('error'):
    raise ValueError(f'Invalid address submitted. {i}{row["address"]}')
  else:
    # 緯度経度をdfに追加
    print(html.content)
    print(payload)
    lat = soup.find('lat').string
    lng = soup.find('lng').string

    print(lat)
    print(lng)
    df.loc[i, row['lat']] = lat
    df.loc[i, row['lng']] = lng
    time.sleep(10)

b'HTTP Error 403 Forbidden.'
{'q': '徳島県阿南市長生町西方５８９−１'}

AttributeError: ignored

In [ ]:
df

   level_0  index      start        end  ...              address  lat  lng  NaN
0        0      0 2017-01-29 2019-09-10  ...     徳島県阿南市長生町西方５８９−１  NaN  NaN  NaN
1        1      1 2012-01-30 2015-09-11  ...    徳島県阿南市下大野町渡り上り５４４  NaN  NaN  NaN
2        2      2 2019-01-31 2021-05-10  ...     徳島県阿南市羽ノ浦町岩脇町筋８７  NaN  NaN  NaN
3        3      3 2016-02-01 2017-09-13  ...  徳島県阿南市羽ノ浦町中庄大久保３３−３  NaN  NaN  NaN
4        5      5 2017-02-03 2021-05-10  ...      徳島県阿南市那賀川町色ケ島民養  NaN  NaN  NaN
5        6      6 2020-02-04 2020-09-16  ...  徳島県阿南市那賀川町今津浦喜来６５−１  NaN  NaN  NaN

[6 rows x 14 columns]